<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ikasturte berria</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/kudeatzaile-common.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div th:replace="/kudeatzaile/fragments/navbar :: kudeatzaile-navbar"></div>
	<main class="page">
	    <h1>Ikasturte berria sortu</h1>
	
	    <form th:action="@{/kudeatzaile/ikasturteak/gorde}" th:object="${ikasturtea}" method="post" id="ikasturteaForm">
	        <label for="izena">Izena:</label>
	        <input type="text" id="izena" name="izena" placeholder="2026-2027" th:field="*{izena}" required>
	      
	        <label for="aktiboa">Aktiboa:</label>
	        <input type="checkbox" id="aktiboa" name="aktiboa" th:field="*{aktiboa}">
	        
	        <div class="form-actions">
	        	<button class="btn btn-primary" type="submit">Gorde</button>
	        	<a class="btn btn-secondary" th:href="@{/kudeatzaile/ikasturteak}">Atzera</a>
	        </div>
	    </form>
    </main>
    <script>
        function balidatuFormularioa(event) {
            const izenaInput = document.getElementById("izena");
            const izena = izenaInput.value.trim();
            const regex = /^\d{4}-\d{4}$/;

            if (!regex.test(izena)) {
                alert("Izenak formatu hau eduki behar du: 2025-2026");
                izenaInput.focus();
                event.preventDefault();
                return false;
            }

            const [lehenUrtea, bigarrenUrtea] = izena.split("-").map(Number);
            if (bigarrenUrtea !== lehenUrtea + 1) {
                alert("Bigarren urtea lehenengoaren hurrengoa izan behar da.");
                izenaInput.focus();
                event.preventDefault();
                return false;
            }

            return true;
        }

        window.addEventListener("DOMContentLoaded", function () {
            document.getElementById("ikasturteaForm").addEventListener("submit", balidatuFormularioa);
        });
    </script>
    
<script th:src="@{/js/kudeatzaile-nav.js}"></script>
</body>
</html>
