<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ikasturteak</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <style>
		.aktiboa {
		    font-weight: bold;
		    color: darkgreen;
		}
	</style>
</head>
<body>
	<div th:replace="/kudeatzaile/fragments/navbar :: kudeatzaile-navbar"></div>
    <h1>Ikasturteak</h1>
    <a th:href="@{/kudeatzaile/ikasturteak/sortu}">Ikasturte berria sortu</a>
    <ul>
        <li th:each="ikasturtea : ${ikasturteak}"
    			th:classappend="${ikasturtea.aktiboa} ? 'aktiboa'">
            <a th:href="@{'/kudeatzaile/ikasturteak/' + ${ikasturtea.id}}">
                <span th:text="${ikasturtea.izena}">2024-2025</span>
                <span th:if="${ikasturtea.aktiboa}" style="color: green;"> (aktiboa)</span>
            </a>
        </li>
    </ul>
</body>
</html>
