<form th:action="@{/irakasle/koadernoa/berria}" th:object="${koadernoaDto}" method="post">

    <label>Moduloa:</label>
    <select th:field="*{moduloaId}">
        <option th:each="m : ${moduluak}" th:value="${m.id}" 
                th:text="${m.izena} + ' (' + ${m.taldea.izena} + ')'"></option>
    </select>

    <div th:if="${not #lists.isEmpty(irakasleAukeragarriak)}">
	    <label>Beste irakasle batzuk (aukerakoa):</label>
	    <div th:each="i : ${irakasleAukeragarriak}">
	        <input type="checkbox" th:value="${i.id}" th:field="*{irakasleIdZerrenda}" />
	        <span th:text="${i.izena}"></span>
	    </div>
	</div>



    <button type="submit">Koadernoa sortu</button>
</form>
