<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ikasturtea eta Egutegia</title>
    <meta charset="UTF-8">
    <script>
        function balidatuFormularioa() {
            const izenaInput = document.getElementById("izenaInput");
            const izena = izenaInput.value.trim();
            const regex = /^(20\d{2})-(20\d{2})$/;

            const errorElement = document.getElementById("errorea");
            errorElement.textContent = "";

            const match = izena.match(regex);
            if (!match) {
                errorElement.textContent = "Izena formatu okerrean dago. Erabili adib. 2025-2026.";
                return false;
            }

            const urtea1 = parseInt(match[1]);
            const urtea2 = parseInt(match[2]);

            if (urtea2 !== urtea1 + 1) {
                errorElement.textContent = "Bigarren urtea lehenengoa + 1 izan behar da. adib: 2025-2026";
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
<h1>Ikasturtea eta Egutegia</h1>

<form th:action="@{/kudeatzaile/egutegia/gorde}" method="post" th:object="${ikasturtea}" onsubmit="return balidatuFormularioa()">
    <input type="hidden" th:if="*{id != null}" th:field="*{id}"/>

    <label>Izena:</label>
    <input type="text" th:field="*{izena}" id="izenaInput" required/><br/>
    <span id="errorea" style="color:red;"></span><br/>
    
    <label>Maila:</label>
	<select th:field="*{maila}" required>
	    <option value="">-- Aukeratu maila --</option>
	    <option th:each="m : ${T(com.koadernoa.app.egutegia.entitateak.Maila).values()}"
	            th:value="${m}" th:text="${m}"></option>
	</select><br/>

    <label>Hasiera data:</label>
    <input type="date" th:field="*{hasieraData}" required/><br/>

    <label>1. Ebaluazio bukaera:</label>
    <input type="date" th:field="*{lehenEbalBukaera}" required/><br/>

    <label>2. Ebaluazio bukaera:</label>
    <input type="date" th:field="*{bigarrenEbalBukaera}" required/><br/>

    <label>Bukaera data:</label>
    <input type="date" th:field="*{bukaeraData}" required/><br/>

    <button type="submit">Gorde egutegia</button>
</form>

<a th:href="@{/kudeatzaile}">Itzuli</a>
</body>
</html>
