<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eu">
<head>
    <meta charset="UTF-8">
    <title>Egutegi berria sortu</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/kudeatzaile-common.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:replace="kudeatzaile/fragments/navbar :: kudeatzaile-navbar"></div>
<main class="page">
	<h1>Egutegi berria sortu</h1>
	
	<form th:action="@{/kudeatzaile/egutegia/gorde}" th:object="${egutegia}" method="post">    
	    <!-- MAILA -->
		  <select class="form-select" th:field="*{maila.id}" required>
		    <option value="" disabled selected>-- Aukeratu maila --</option>
		    <option th:each="m : ${mailak}"
		            th:value="${m.id}"
		            th:text="${m.izena} + ' (' + ${m.kodea} + ')'">
		    </option>
		  </select>
		
		  <div th:if="${#fields.hasErrors('maila')}" th:errors="*{maila}"></div>
	
	    <!-- Hasiera data -->
	    <label for="hasieraData">Hasiera data:</label>
	    <input type="date" id="hasieraData" name="hasieraData" required>
	 
	
	    <!-- Bukaera data -->
	    <label for="bukaeraData">Bukaera data:</label>
	    <input type="date" id="bukaeraData" name="bukaeraData" required>
	 
	
	    <!-- 1. ebaluazioaren bukaera -->
	    <label for="lehenEbalBukaera">1. Ebaluazio bukaera:</label>
	    <input type="date" id="lehenEbalBukaera" name="lehenEbalBukaera">
	    
	    <!-- 2. ebaluazioaren bukaera -->
	    <label for="bigarrenEbalBukaera">2. Ebaluazio bukaera:</label>
	    <input type="date" id="bigarrenEbalBukaera" name="bigarrenEbalBukaera">
	
	    <!-- Ikasturtea ezkutuan -->
	    <input type="hidden" name="ikasturtea.id" th:value="${egutegia.ikasturtea.id}"/>
		<div class="form-actions">
	    	<button class="btn btn-primary" type="submit">Gorde</button>
	    	<a class="btn btn-secondary" th:href="@{/kudeatzaile/egutegia}">Atzera</a>
	    </div>
	</form>
</main>
<script th:src="@{/js/kudeatzaile-nav.js}"></script>
</body>
</html>
