<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eu">
<head>
    <meta charset="UTF-8">
    <title>Egutegien Zerrenda</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/kudeatzaile-common.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div th:replace="kudeatzaile/fragments/navbar :: kudeatzaile-navbar"></div>
	<main class="page">
	    <h1 th:text="'Ikasturte aktiboa: ' + ${ikasturtea.izena}"></h1>
	
	    <h2>Egutegiak</h2>
		<div class="table-wrap">
		    <table>
		        <thead>
		            <tr>
		                <th>Maila</th>
		                <th>Ekintzak</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="egutegia : ${egutegiak}">
		                <td th:text="${egutegia.maila.getKodea}"></td>
		                <td>
		                    <a class="btn btn-secondary" th:href="@{'/kudeatzaile/egutegia/' + ${egutegia.id}}">Ikusi / Editatu</a>
		                </td>
		            </tr>
		            <tr th:if="${egutegiak == null or egutegiak.isEmpty()}">
		                <td colspan="4">Ez dago egutegirik ikasturte honetarako.</td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	    <br>
	    <a class="btn btn-primary" th:href="@{/kudeatzaile/egutegia/sortu}">
	        Egutegi berria sortu
	    </a>
	</main>
<script th:src="@{/js/kudeatzaile-nav.js}"></script>
</body>
</html>
